apiVersion: v1
kind: Service
metadata:
  name: ai-agent-service
  namespace: rednest
  labels:
    app: ai-agent-service
spec:
  type: ClusterIP
  ports:
  - port: 3006
    targetPort: 3006
    protocol: TCP
    name: http
  selector:
    app: ai-agent-service

