apiVersion: v1
kind: Service
metadata:
  name: booking-service
  namespace: rednest
  labels:
    app: booking-service
spec:
  type: ClusterIP
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    app: booking-service

