apiVersion: v1
kind: Service
metadata:
  name: owner-service
  namespace: rednest
  labels:
    app: owner-service
spec:
  type: ClusterIP
  ports:
  - port: 3003
    targetPort: 3003
    protocol: TCP
    name: http
  selector:
    app: owner-service

