apiVersion: v1
kind: Service
metadata:
  name: property-service
  namespace: rednest
  labels:
    app: property-service
spec:
  type: ClusterIP
  ports:
  - port: 3004
    targetPort: 3004
    protocol: TCP
    name: http
  selector:
    app: property-service

