apiVersion: v1
kind: Service
metadata:
  name: traveler-service
  namespace: rednest
  labels:
    app: traveler-service
spec:
  type: ClusterIP
  ports:
  - port: 3002
    targetPort: 3002
    protocol: TCP
    name: http
  selector:
    app: traveler-service

