apiVersion: v1
kind: Service
metadata:
  name: zookeeper-service
  namespace: rednest
spec:
  clusterIP: None
  ports:
  - port: 2181
    targetPort: 2181
    name: client
  selector:
    app: zookeeper

